<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.solvd.dao.CustomerMapper">
    <resultMap id="CustomerResultMap" type="com.solvd.model.Customer">
        <id property="customerId" column="customer_id"/>
        <result property="fullName" column="full_name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
    </resultMap>

    <!-- Zapytanie SELECT dla pobierania klienta po ID -->
    <select id="getCustomerById" resultMap="CustomerResultMap">
        SELECT * FROM phonestore.Customers WHERE customer_id = #{id}
    </select>

    <!-- Zapytanie SELECT dla pobierania wszystkich klientów -->
    <select id="getAllCustomers" resultMap="CustomerResultMap">
        SELECT * FROM phonestore.Customers
    </select>

    <!-- Zapytanie INSERT dla dodawania nowego klienta -->
    <insert id="insertCustomer" parameterType="com.solvd.model.Customer">
        INSERT INTO phonestore.Customers (full_name, email, phone)
        VALUES (#{fullName}, #{email}, #{phone})
    </insert>

    <!-- Zapytanie UPDATE dla aktualizacji istniejącego klienta -->
    <update id="updateCustomer" parameterType="com.solvd.model.Customer">
        UPDATE phonestore.Customers
        SET full_name = #{fullName}, email = #{email}, phone = #{phone}
        WHERE customer_id = #{customerId}
    </update>

    <!-- Zapytanie DELETE dla usunięcia klienta -->
    <delete id="deleteCustomer" parameterType="int">
        DELETE FROM phonestore.Customers WHERE customer_id = #{id}
    </delete>
</mapper>
